{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>{{ blog.title }}</h1>
    <p>By {{ blog.author.first_name }} {{ blog.author.last_name }} on {{ blog.created_at | date:"M d, Y" }}</p>
    {% if 'http' in blog.image %}
        <img src="{{ blog.image }}" alt="Blog Image">
    {% else %}
        <img src="{% static blog.image %}" alt="Blog Image">
    {% endif %}
</body>
</html>